 <h1>Hello , {{name}}, We Have Received An Order</h1>
 <p>Please check Below Mention Details, For The Order</p>




<p>
    
    <a href="{{url}}" target="_blank">Verify Email</a>
  </p>
<p> If There is any Doubt  , Kindly Contact IT TEAM</p>
